# Ignore everything by default
*

# Allow .vhd files
!*.vhd
!*.s
!*.asm

# Allow directories (so .vhd files inside them are not ignored)
!*/

# Optionally, allow .gitignore itself to be tracked
!.gitignore